/alacritty/alacritty.toml
/fish/completions/asdf.fish
/fish/config.local.fish
/fish/conf.d/*
/fish/fish_variables
/fish/functions/__sdkman-noexport-init.sh
/lazygit/config.yml
/lazygit/state.yml
/nvim/plugin/packer_compiled.lua
/nvim/lazy-lock.json
/nvim/lua/config/colorscheme.lua
/.theme
/tmux/.tmux.conf
